.timer {
  background-color: purple;
  border: 5px solid #1B8AE6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3em;
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  top: 5em;
  left: 24em;
}

.timer span {
  color: white;
  font-size: 1.3em;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif
}

@media screen and (max-width: 800px) {
  .timer {
    top: 10px;
    left: 40px;
  }
}

@media screen and (max-width: 600px) {
  .timer {
    left: 50%;
    transform: translate(-50%);
    padding-bottom: 1em;
  }
}

@media screen and (max-width: 400px) {
  .timer {
    left: 50%;
    transform: translate(-50%);
    padding-bottom: 1em;
  }
}