.playerContainer {
    position: absolute;
    top: 21%;
    right: 42%;
    background-color: transparent;
}

.playerOn {
    background-image: url('../../assets/images/icon.png');
    background-size: cover;
    width: 5em;
    height: 5em;
}

.playerOff {
    background-image: url('../../assets/images/muted.jpg');
    background-size: cover;
    width: 5em;
    height: 5em;
}