.next {
    cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
    height: 50px;
    width: 100px;
    color: white;
    font-size: 1.5em;
    margin-bottom: 50px;
    position: absolute;
    top: 150px;
    right: 40px;
  }
  
  @media screen and (max-width: 800px) {
    .next {
      top: 550px;
      right: 40%;
    }
  }
  