.question {
    border-radius: 35px;
    background-color: purple;
    color: white;
    font-size: 14px;
    padding: 16px 14px;
    display: flex;
  
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 20px;
  }
  
  .question span {
    margin-right: 5px;
  }

  @media screen and (max-width: 600px) {
    .question {
      width: 95%;
      font-size: 0.5em;
    }
  }

  @media screen and (max-width: 300px) {
    .question {
      width: 90%;
      font-size: 0.5em;
    }
  }
  