.background {
    background-image: url("../../images/questions.jpg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.return {
  width: 300px;
  height: 200px;
  top: 250%;
  left: 40%;
  position: absolute;
  margin-left: -250px;
}


.gameContainer {
padding: 350px;

} 