.background {
  background-image: url("../../images/questions.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw; 
  position: relative;
} 

.return {
  width: 300px;
  height: 200px;
  top: 250%;
  left: 30%;
  position: absolute;
  margin-left: 0 auto;
}

.gameContainer {
padding: 350px;

} 

@media screen and (max-width: 600px) {
  .gameContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
    flex-wrap: wrap;
    overflow: hidden;
  }
}

@media screen and (max-width: 300px) {
  .gameContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
    flex-wrap: wrap;
    overflow: hidden;
  }
}